<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a class="noline" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <a href="{{ site.baseurl }}"><img src="/public/crana3.png" alt="CRANA"></a>

      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="noline sidebar-nav-item{% if page.url == '/association/' %} active{% endif %}" href="/association">Association Information</a>
      <a class="noline sidebar-nav-item{% if page.url == '/activities/' %} active{% endif %}" href="/activities">Activities and Events</a>
      <a class="noline sidebar-nav-item{% if page.url == '/articles/' %} active{% endif %}" href="/articles">Articles</a>
      <a class="noline sidebar-nav-item" href="https://crana.nextdoor.com">Connect on Nextdoor</a>
      <a class="noline sidebar-nav-item" style="  color: rgba(255,255,255,.5);
 font-size:0.8em;" href='mailto&#58;re&#111;ly%6Dpia&#64;&#112;r&#111;ton&#109;ail&#46;co%6D'>Email Webmaster</a> 
    </nav>

  </div>
</div>
