---
layout: default
---

<div class="page">
	<h1 class="page-title">{{ page.title }}</h1>
	{{ content }}


	<div class="related">
	  <h3>Learn More</h3>
	  <ul class="related-posts">
		{% for node in site.pages %}
			{% if node.title != null %}
			  {% if node.category == page.category_title %}
			    <li><h3><a class="noline sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></h3></li>
			  {% endif %}
			{% endif %}
		{% endfor %}
	  </ul>
	</div>
</div>
